
$font-rubik: 'Rubik', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$color-primary: #c70202;
$color-secondary: #1c7c8f;
$color-white: #ffffff;
$color-dark: #0b3640;
$color-dark2: #39325a;
$color-medium: #797979;
$color-medium2: #d1d1d1;
$color-light: #f9f8fe;
$color-light2: #d6d6d6;
$bg-primary: #fffdf8;
$bg-secondary: #fff9e9;
$bg-fff3cf: #fff3cf;
$font-size: 16px;
$transition: .5s;

$breakpoint-lg: "only screen and (min-width:992px) and (max-width:1199px)";

$breakpoint-md: "only screen and (min-width:768px) and (max-width:991px)";

$breakpoint-sm: "only screen and (min-width:576px) and (max-width:767px)";

$breakpoint-xs: "only screen and (max-width:767px)";
