.tp-caption.medium_bg_darkblue,.medium_bg_darkblue {
    background-color: #34495e;
    border-color: #ffd658;
    border-style: none;
    border-width: 0;
    color: #fff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
    padding: 10px;
    text-decoration: none;
}


.tp-caption.medium_bg_orange,.medium_bg_orange {
    background-color: #f39c12;
    border-color: #ffd658;
    border-style: none;
    border-width: 0;
    color: #fff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
    padding: 10px;
    text-decoration: none;
}

.tp-caption.NotGeneric-Title,.NotGeneric-Title {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0 0 0 0;
    border-style: none;
    border-width: 0;
    color: rgba(255,255,255,1.00);
    font-family: Raleway;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: 70px;
    padding: 10px 0;
    text-decoration: none;
}