.rev_slider_wrapper {
    position: relative;
    z-index: 0;
}

.rev_slider {
    position: relative;
    overflow: visible;
}

.tp-simpleresponsive img, .rev_slider img {
    max-width: none !important;
    -moz-transition: none 0;
    -webkit-transition: none 0;
    -o-transition: none 0;
    transition: none 0;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border: none;
}

.rev_slider >ul, .rev_slider_wrapper >ul, .tp-revslider-mainul >li, .rev_slider >ul >li, .rev_slider >ul >li:before, .tp-revslider-mainul >li:before, .tp-simpleresponsive >ul, .tp-simpleresponsive >ul >li, .tp-simpleresponsive >ul >li:before, .tp-revslider-mainul >li, .tp-simpleresponsive >ul >li {
    list-style: none !important;
    position: absolute;
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: visible;
    overflow-y: visible;
    list-style-type: none !important;
    background-image: none;
    background-position: 0px 0px;
    text-indent: 0em;
    top: 0px;
    left: 0px;
}

.tp-revslider-mainul >li, .rev_slider >ul >li, .rev_slider >ul >li:before, .tp-revslider-mainul >li:before, .tp-simpleresponsive >ul >li, .tp-simpleresponsive >ul >li:before, .tp-revslider-mainul >li, .tp-simpleresponsive >ul >li {
    visibility: hidden;
}

.tp-revslider-slidesli, .tp-revslider-mainul {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
}

.rev_slider li.tp-revslider-slidesli {
    position: absolute !important;
}

.rev_slider .tp-caption, .rev_slider .caption {
    position: relative;
    visibility: hidden;
    white-space: nowrap;
    display: block;
}

.rev_slider .tp-mask-wrap .tp-caption, .rev_slider .tp-mask-wrap *:last-child, .wpb_text_column .rev_slider .tp-mask-wrap .tp-caption, .wpb_text_column .rev_slider .tp-mask-wrap *:last-child {
    margin-bottom: 0;
}

.tp-caption {
    z-index: 1
}

.tp-caption {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    position: absolute;
    -webkit-font-smoothing: antialiased !important;
}

.rev_slider_wrapper {
    width: 100%;
}

.fullwidthbanner-container {
    position: relative;
    padding: 0;
    overflow: hidden;
}

.fullwidthbanner-container .fullwidthabanner {
    width: 100%;
    position: relative;
}

.tp-static-layers {
    position: absolute;
    z-index: 505;
    top: 0px;
    left: 0px
}

.tp-bannertimer {
    visibility: hidden;
    width: 100%;
    height: 5px;
    /*background:url(../assets/timer.png);*/
    background: #fff;
    background: rgba(0,0,0,0.15);
    position: absolute;
    z-index: 200;
    top: 0px
}

.tp-simpleresponsive img {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.tp-caption img {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
    zoom: 1; }

    .tp-shape {
    width: 100%;
    height: 100%;
}

.tp-loader {
    top: 50%;
    left: 50%;
    z-index: 10000;
    position: absolute;
}

.tp-loader.spinner0 {
    width: 40px;
    height: 40px;
    background-color: #fff;
    background: url(../assets/loader.gif) no-repeat center center;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    margin-top: -20px;
    margin-left: -20px;
    -webkit-animation: tp-rotateplane 1.2s infinite ease-in-out;
    animation: tp-rotateplane 1.2s infinite ease-in-out;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.tp-bannertimer {
    background: #000;
    background: rgba(0,0,0,0.15);
    height: 5px;
}

.tparrows {
    cursor: pointer;
    background: #000;
    background: rgba(0,0,0,0.5);
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
}

.tparrows:before {
    font-family: "revicons";
    font-size: 15px;
    color: #fff;
    display: block;
    line-height: 40px;
    text-align: center;
}

.tparrows.tp-leftarrow:before {
    content: '\e824';
}

.tparrows.tp-rightarrow:before {
    content: '\e825';
}